parameters:
    paths:
        - src/
        - tests/
    level: max
    excludePaths:
        analyseAndScan:
            - tests/Application/var/*
    doctrine:
        objectManagerLoader: tests/object-manager.php
