.overview {
    text-align: left;

    h3 {
        margin: 20px 0 10px;
        font-size: 16px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.info {
    margin: 0 0 10px;
    font-size: 12px;
    color: #666;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

    th,
    td {
        padding: 6px 8px;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
        vertical-align: middle;
    }

    th {
        font-weight: bold;
        width: 50%;
    }
}
